# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'disk/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            'sysconfdir' : '/etc/default',
            'pkgs' : {
              'part' : [ 
                'util-linux',
                'parted',
                'gdisk',
              ],
              'mount' : [
                'e2fsprogs',
                'btrfs-tools',
                'xfsprogs',
              ],
              'encr' : [ 
                'cryptsetup',
              ],
              'lvm' : [
                'lvm2',
              ],
              'raid' : [
                'mdadm',
              ],
            },
        },
        'RedHat': {
            'sysconfdir': '/etc/sysconfig',
            'pkgs' : {
              'part' : [ 
                'util-linux',
                'parted',
                'gdisk',
              ],
              'mount' : [
                'e2fsprogs',
                'btrfs-progs',
                'xfsprogs',
              ],
             'encr' : [
                'cryptsetup',
              ],
              'lvm' : [
                'lvm2',
              ],
              'raid' : [
                'mdadm',
              ],
            },
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('disk:lookup'))
%}
{% do default_settings.disk.update(os_family_map) %}

{% set disk = salt['pillar.get'](
        'disk',
        default=default_settings.disk,
        merge=True
    )
%}
